<!DOCTYPE html>
<html lang="en" ng-app="foodleaderApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodleader</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.4.0/js/md5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
    <script src="foodleaderApp.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

</head>

<body ng-controller="NavigationController">

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Foodleader</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-init="activeSection = 'order'">
                    <li ng-class="{ 'active' : (activeSection == 'order') }">
                        <a href="#" ng-click="activeSection = 'order'">Order</a>
                    </li>
                    <li ng-class="{ 'active' : (activeSection == 'overview') }" ng-show="isAdmin()">
                        <a href="#" ng-click="activeSection = 'overview'">Overview</a>
                    </li>
                    <li ng-class="{ 'active' : (activeSection == 'menu') }" ng-show="isAdmin()">
                        <a href="#" ng-click="activeSection = 'menu'">Menu</a>
                    </li>
                    <li ng-class="{ 'active' : (activeSection == 'employees') }" ng-show="isAdmin()">
                        <a href="#" ng-click="activeSection = 'employees'">Employees</a>
                    </li>
                    <li ng-class="{ 'active' : (activeSection == 'payments') }" ng-show="isAdmin()">
                        <a href="#" ng-click="activeSection = 'payments'">Payments</a>
                    </li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Admin password"
                               ng-model="adminPassword" ng-hide="isAdmin()">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</div>

<div class="container" ng-if="activeSection == 'employees'" ng-controller="EmployeeController">

    <div class="row">

        <div class="col-md-12">

            <div class="well well-sm">

                <form class="form-horizontal">

                    <div class="form-group ">

                        <label class="control-label col-md-2" for="name">Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="name" placeholder="name" ng-model="name">
                        </div>

                        <div class="col-md-2">

                            <button type="submit" class="btn btn-success "
                                    ng-disabled="!(name)"
                                    ng-click="addEmployee(name); name = null">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                Add
                            </button>
                        </div>
                    </div>


                </form>

            </div>

            <p ng-class="text-muted" ng-show="employees.length == 0">
                No employees found
            </p>

            <table class="table table-striped" ng-show="employees.length > 0">

                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="employee in employees | orderBy:'name'">
                    <td>
                        {{ employee.name }}
                    </td>
                    <td>
                        <button class="btn btn-link pull-right"
                                ng-click="removeEmployee(employee)">
                            <i class="glyphicon glyphicon-trash pull-right"></i>
                        </button>
                    </td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>

<div class="container" ng-if="activeSection == 'menu'" ng-controller="MenuController">

    <div class="row">

        <div class="col-md-12">

            <div class="well well-sm clearfix">

                <form class="form-horizontal">

                    <div class="form-group ">

                        <label class="control-label col-md-2" for="name">Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " id="name" placeholder="name" ng-model="name">
                        </div>

                        <label class="control-label col-md-2" for="price">Price</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">€</div>
                                <input type="number" step="0.01" class="form-control " id="price" placeholder="price"
                                       ng-model="price">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">

                        <label class="control-label col-md-2" for="description">Description</label>
                        <div class="col-md-10">
                        <textarea class="form-control" id="description" placeholder="description"
                                  ng-model="description"></textarea>
                        </div>
                    </div>

                    <div class="form-group ">

                        <div class="col-md-12">

                            <button type="submit" class="btn btn-success pull-right"
                                    ng-disabled="!(name && price)"
                                    ng-click="addMenuItem(name, price, description); name = price = description = null">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <p class="text-muted text-center" ng-show="menuItems.length < 1">
                No menu-items found
            </p>

            <table class="table table-striped" ng-show="menuItems.length > 0">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="menuItem in menuItems">
                    <td>
                        {{ menuItem.name }}
                    </td>
                    <td>
                        {{ menuItem.price | currency:"€ ":2 }}
                    </td>
                    <td>
                        <button class="btn btn-link pull-right"
                                ng-click="removeMenuItem(menuItem)">
                            <i class="glyphicon glyphicon-trash pull-right"></i>
                        </button>
                    </td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>

<div class="container" ng-if="activeSection == 'order'" ng-controller="OrderController">


    <div class="row">

        <div class="col-md-12">

            <div class="well well-sm">

                <p>

                    <select
                        class="form-control"
                        ng-model="selectedEmployeeId"
                        ng-options="employee.employeeId as employee.name for employee in employees | orderBy:'name' "
                        ng-change="loadOrderItems()">
                        <option value="">Select an employee to order for</option>
                    </select>

                </p>

                <button class="btn btn-default btn-lg pull-left"
                        ng-click="dayOffset = dayOffset > 0 ? dayOffset-1 : 0;">
                    <span class="glyphicon glyphicon-chevron-left "
                    ></span>
                </button>
                <button class="btn btn-default btn-lg pull-right"
                        ng-click="dayOffset = dayOffset+1;">
                    <span class="glyphicon glyphicon-chevron-right "
                    ></span>
                </button>

                <h3 class="text-center">
                    {{ getSelectedDate() | date:"fullDate" }}
                </h3>

            </div>

        </div>

        <div class="col-md-12">

            <div class="well well-sm">


                <h3 class="text-center">You ordered</h3>

                <p class="text-center" ng-show="selectedEmployeeId && getOrdersOnDate(getSelectedDate()).length == 0">
                    No orders yet
                </p>

                <table class="table" ng-show="getOrdersOnDate(getSelectedDate()).length > 0">
                    <tr ng-repeat="orderItem in getOrdersOnDate(getSelectedDate())">
                        <td align="left">
                            {{ orderItem.name }}
                        </td>
                        <td align="right">
                            {{ orderItem.price | currency:"€ ":2 }}
                        </td>
                        <td>
                            <a ng-click="removeOrder(orderItem)" class="pull-right">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <tfoot>
                    <tr>
                        <th>Total</th>
                        <td align="right">{{ getTotal(getOrdersOnDate(getSelectedDate())) | currency:"€ ":2 }}</td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <div class="col-md-12">

        <div ng-show="selectedEmployeeId" class="well clearfix">

            <h3 class="text-center">Today's menu</h3>

            <div class="col-lg-12 " ng-repeat="menuItem in menuItems">
                <div class="well">

                    <button class="btn  pull-right btn-success"
                            ng-click="order(menuItem)">
                        Order
                    </button>
                    <h4>
                        {{ menuItem.name}} - {{ menuItem.price | currency:"€ ":2 }}
                    </h4>
                    <p>{{ menuItem.description }}</p>
                </div>
            </div>

        </div>
        </div>
    </div>

</div>

<div class="container" ng-if="activeSection == 'overview'" ng-controller="OverviewController">

    <div class="row">

        <div class="col-md-12">

            <div class="well well-sm clearfix">

                <button class="btn btn-default btn-lg pull-left"
                        ng-click="dayOffset = dayOffset > 0 ? dayOffset-1 : 0;">
                    <span class="glyphicon glyphicon-chevron-left "
                    ></span>
                </button>
                <button class="btn btn-default btn-lg pull-right"
                        ng-click="dayOffset = dayOffset+1;">
                    <span class="glyphicon glyphicon-chevron-right "
                    ></span>
                </button>
                <h2 class="text-center">
                    {{ getSelectedDate() | date:"fullDate" }}
                </h2>

            </div>

            <p class="text-muted text-center" ng-show="getOrdersOnDate(getSelectedDate()).length < 1">
                No orders found
            </p>

            <table class="table table-striped" ng-show="getOrdersOnDate(getSelectedDate()).length > 0">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Menu-item</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in getOrdersOnDate(getSelectedDate())">
                    <td>
                        {{ getEmployeeName(order.employeeId) }}
                    </td>
                    <td>
                        {{ order.name }}
                    </td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>

<div class="container" ng-if="activeSection == 'payments'" ng-controller="PaymentController">

    <div class="row">

        <div class="col-md-12">

            <div class="well well-sm clearfix">

                <select
                    class="form-control"
                    ng-model="selectedEmployeeId"
                    ng-options="employee.employeeId as employee.name for employee in employees | orderBy:'name' "
                    ng-change="loadOrderItems()">
                    <option value="">Select an employee to order for</option>
                </select>

            </div>

            <p class="text-muted text-center" ng-show="orders.length == 0">
                No orders found
            </p>

            <table class="table table-striped" ng-show="orders.length > 0">

                <thead>
                <tr>
                    <th>Date</th>
                    <th>Menu-item</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders | orderBy:'date'">
                    <td>
                        {{ order.date }}
                    </td>
                    <td>
                        {{ order.name }}
                    </td>
                    <td>
                        {{ order.price | currency:"€ ":2}}
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th>{{ getTotal(orders) | currency:"€ ": 2 }}</th>
                </tr>
                </tfoot>

            </table>

        </div>
    </div>
</div>

<div class="container">

    <div ng-controller="GihpyController">

        <p align="center">
            <img src="{{ giphy }}" width="100%">
        </p>

    </div>

    <footer class="footer">
        <p class="text-center">&copy; Emile "Meatleader 2016" Carels & Simona Bussé</p>
    </footer>
</div>

</body>
</html>
